body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background: url(/static/images/main_background.jpg) center no-repeat;
    color: white;
    display: block;
    margin: 0;
}

header {
    padding: 0.1%;
    min-width: 1280px;
    max-width: 2560px;
    background: rgba(28, 28, 28, 0.8);
    text-align: center;
    margin-bottom: 20%;
    backdrop-filter: blur(5px);
}

header nav ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

.welcome-string {
    min-width: 1450px;
    max-width: 100%;
}

.welcome-string {
    animation: 2s anim-text ease-out infinite;
    animation-iteration-count: 1
}

.welcome-string h1 {
    font-size: 75px;
    text-align: center;
}

.short-information {
    text-align: justify;
    font-size: 35px;
    margin: 25% 10% 45px 10%;
    background: rgb(89,89,89);
    background: linear-gradient(90deg, rgba(89,89,89,1) 15%, rgba(89,89,89,1) 50%, rgba(89,89,89,1) 85%);
}

@keyframes anim-text {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

