body {
    font-family: "Century Gothic";
}

.header {
    min-width: 1600px;
    background: rgb(89,89,89);
    background: linear-gradient(90deg, rgba(89,89,89,1) 15%, rgba(89,89,89,1) 50%, rgba(89,89,89,1) 85%);
}

.navigation-menu li {
    display: inline-block;
    padding: 20px 7% 20px 7%;
}

.navigation-menu a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.active-page a {
    color: orange;
}

.welcome-string {
    min-width: 1450px;
    max-width: 100%;
    display: block;
    margin: 25px 5% 25px 5%;
    text-align: justify;
}

.welcome-string {
    animation: 2s anim-text ease-out infinite;
    animation-iteration-count: 1
}

.welcome-string h1 {
    font-size: 55px;
    margin-top: 45px;
    text-align: center;
    padding: 18% 0 30% 0;
}

.about_website {
    text-align: justify;
    font-size: 35px;
    margin: 0px 10% 45px 10%;
}

@keyframes anim-text {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

