<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Nguyen</title>
</head>
<body>
    <header class="header">
        <nav>
            <ul class="navigation-menu">
                <li><a href="/">Главная страница</a></li>
                <li class="active-page"><a>Обо мне</a></li>
                <li><a href="/projects">Проекты</a> </li>
                <li><a href="/stack">Стэк технологий</a> </li>
            </ul>
       </nav>
    </header>
    <div class="welcome-string">
        <h1>Меня зовут Нгуен Дени Ван!</h1>
        <a></a>
    </div>
</body>
</html>