<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='main_page_style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Main Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="active-page"><a>Главная страница</a></li>
                <li><a href="/about_me">Обо мне</a></li>
                <li><a href="/projects">Проекты</a> </li>
                <li><a href="/stack">Стэк технологий</a> </li>
            </ul>
       </nav>
    </header>
    <div class="welcome-string">
        <h1>Здравствуйте!</h1>
        <h1>Добро пожаловать на мой сайт!</h1>
    </div>
    <div class="short-information">
        Здесь вы можете ознакомиться с основной информацией о созданных проектах, обо мне и список технологий использованных на данном сайте.
        Этот сайт является своем роде резюме-портфолио для презентации моих компетенций.
        На данный момент активно развиваюсь в области web-разработки. Предпочитаю больше Back-end разработку.
        Занимаюсь своим собственным проектом. Разработка находится на этапе проектирования и оценки идей внедренных в проект.
    </div>
</body>
</html>